:root {
    font-family: "Nunito Sans", sans-serif;
}

body {
    background-color: #f5f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    background-color: #ffffff;
    height: fit-content;
    width: 350px;
    padding: 20px 20px 0 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#title {
    color: #666666;
    margin-top: -1px;
}

.inp {
    width: 100%;
    padding: 8px;
    margin: 6px 0 6px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.inp:hover:not(#btn) {
    border: 1px solid #757575;
}

.inp:focus{
    outline: none;
    outline: solid rgb(55 112 255) 2px;
}

.passcontain {
    margin-bottom: -22px;
}

#hidepass {
    width: fit-content;
    position: relative;
    top: -30px;
    left: 91%;
    padding: 6px;
    display: inline;
}

#eye {
    color: rgb(79, 79, 79);
}

.radios {
    display: flex;
    flex-direction: column;
    color: #7e7e7e;
    padding: 5px;
}

#btn {
    background-color: rgb(55 112 255);
    color: white;
    border: none;
    cursor: pointer;
    transition: all 1s;
}

#btn:hover {
    transform: translate(0, -3px);
    background-color: rgb(33, 83, 209);
    transition: all 0.5s;
}
