body {
    background-color: #f5f7f7;
    font-family: "Nunito Sans", sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.icontain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 80%;
    position: relative;
    margin: auto;
    border-radius: 20px;
    padding: 40px 0 30px 0;
}

fieldset {
    justify-content: center;
    align-items: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 80%;
    border-radius: 10px;
    border: 2px solid #dddfdd;
    margin-bottom: 20px;
}

.infocontain {
    padding-top: 15px;
    padding-bottom: 20px;
}

legend {
    font-size: 17px;
    color: #929292;
}

.inp {
    width: 98%;
    padding: 8px;
    margin: 6px 0 6px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    background-color: #fcfcfc;
    margin-bottom: 10px;

}

.inp:hover:not(#btn, .readonly) {
    border: 1px solid #757575;
}

.inp:focus, #info:focus {
    outline: none;
    outline: solid rgb(55 112 255) 2px;
    background-color: white;
}

.inp, #info {
    font-size: 20px;
}

#info {
    border-radius: 5px;
    height: 60vh;
    width: 98%;
    background-color: #fcfcfc;
}

.btncontain {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    color: white;
    border: none;
    cursor: pointer;
    transition: all 1s;
    width: 100%;
    padding: 8px;
    margin: 6px 0 6px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    position: relative;
    top: 20px;
    height: 40px;
    background-color: rgb(55 112 255);
    width: 10%;
}

#chng {
    
    width: 100%;
    margin: 10px 0 0 0;
}

.btn:hover {
    background-color: rgb(55 112 255);
    transform: translate(0, -3px);
    transition: all 0.5s;
}

#edit {
    height: 40px;
    position: relative;
    top: -1px;
    background-color: rgb(55 112 255);
    width: 200px;
}

#edit:hover, #chng:hover {
    background-color: rgb(11, 21, 165);
}

#delete {
    background-color: rgb(255, 71, 71);
    width: 200px;
    position: relative;
    top: 6px;
}



#delete:hover {
    background-color: rgb(185, 0, 0);
}